@import "../../scss/variables.scss";
@import '~materialize-css/sass/materialize.scss';

$card-height: 340px;
$card-width: 300px;

.Card {
  width: $card-width;
  height: $card-height;
  display: flex;
  flex-direction: column;
  padding: $spacing-m;
  border-radius: $border-radius;
  @extend .z-depth-2;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    @extend .z-depth-4;
  }

  > textarea {
    outline: none;
    resize: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: $spacing-m;
    flex-grow: 1;
    border-color: black;
    border-width: 4px;
    font-size: $font-size-l;

    &::placeholder {
      color: $color-gray-9;  
    }
  }

  > button {
    flex-grow: 0;
  }

  &--add {
    @extend .green, .lighten-3;

    button{ 
      @extend .green, .darken-4;
    }
  } 

  &--next {
    @extend .red, .lighten-2;

    button{ 
      @extend .red, .darken-4;
    }
  } 

  &--edit {
    @extend .light-blue, .lighten-3;

    button{ 
      @extend .blue, .darken-4;
    }
  } 

}